




<div class="completo">
<h2 class="titulo">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class:"labels" %><br />
    <%= f.email_field :email, autofocus: true, class:"username" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"labels"  %><br />
    <%= f.password_field :password, autocomplete: "off" , class:"password"%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, class:"labels" %>
      <%= f.label :remember_me, class:"fieldd" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"button" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>
